.autocomplete-menu-wrapper > div {
  z-index: 99;
}

.ingredient-input-group {
  margin-bottom: 10px;
}

.ingredient-input-group .control-label {
  height: 34px;
  display: flex;
  align-items: center;
}
